section#feature-grades
  .explanation
    h3 N'attendez pas le conseil de classe pour vous rendre compte de votre évolution
    p.
      À chaque fois que vous rentrez vos notes, de nombreuses statistiques sont disponibles, telles que l'impact sur la moyenne 
      ou encore l'évolution en fonction d'un éventuel objectif.
    p.
      Beaucoup de professeurs ont tendance à ajouter les notes en ligne au dernier moment.
      En rentrant vos notes par vous-même, obtenez votre moyenne - et bien plus - instantanément.
  .images
    p.coming-soon Coming soon!
      
