section#feature-homework
  .explanation
    h3 Votre agenda, en mieux.
    p.
      Les devoirs sont regroupés par date, et tout est immédiatemment visible.
      Ne vous perdez plus en feuilletant des pages, et ayez une vue globale sur vos devoirs 
      pour vous avancer, et avoir plus de temps pour vous.
    p.
      En rentrant votre emploi du temps, l'ajout de devoirs devient aussi beaucoup plus rapide:
      à la fin du cours, cliquez sur le bouton, et matière et date seront déjà pré-remplies: matière du cours actuel, et date du prochain cours pour cette matière.
    p.
      Soyez ainsi sûr d'avoir tout noté, même lorsque vous être pressé de sortir de la salle.
  .images
    img(src="/assets/screens/add_homework.png")
