section#feature-learn
    h3 Une nouvelle façon de réviser.
    p.
      En prenant vos notes avec schoolsyst, vous permettez au logiciel de vous interroger 
      sur vos prises de cours, sans avoir à déranger quelqu'un pour vous poser des questions.
    p.
      Très pratique pour les listes de vocabulaire en langues, les deux modes de #[em Learn_it!] vous permettent
      d'apprendre et de se tester facilement et efficacement. Jamais je n'aurai pu apprendre des listes de centaines
      de mots en Russe sans cette aide précieuse.
