section#feature-notes
  .explanation
    h3 Des cours propres et bien rangés, sans efforts.
    p.
      Beaucoup de profs le disent: un cours propre donne plus envie d'apprendre qu'un "torchon".
      Pas besoin de huit stabilos différents, prenez simplement vos notes puis choisissez un thème
       - ou créez-en un.
    p.
      Personne n'a envie, après avoir manqué des cours, de devoir recopier une photo à moitié de travers,
      limite illisble par manque de lumière. C'est aussi embêtant de devoir se démener pour prendre une photo de son cahier avec une lumière acceptable.
    p.
      Mais vos cours sont propres, et partageables instantanéement, à l'effort d'un clic sur le bouton de téléchargement.
      Partagez-les en PDF ou imprimmez-les, et vos cammarades vous remercieront.
    p.
      Vos cours sont triés par matière, et sont ainsi rangés et organisés, sans efforts.
    p.
      De plus, votre dos vous remerciera, et, si vous en avez besoin, les cours des années précédentes vous suivront.
  .images
    img(src="/assets/screens/filter_notes_by_subject.png")
