section#feature-schedule
  .explanation
    h3 "On est dans quel salle déjà ?"#[br]"Il reste combien de temps avant la fin du cours?"
    p.
      Tant de questions essentielles.
      #[br] La réponse est instantanée, et les changements de salles, cours supprimés et autres imprévus
      ne sont plus qu'un simple clic sur le bouton "ajouter une modification d'emploi du temps"
    p.
      Pour les plus pressés d'entre vous, le temps restant avant la fin du cours actuel est affiché dans 
      l'éditeur de prises de notes, en permanence.
  .images
    .coming-soon Coming soon!
