section#feature-wake_up
  .explanation
    h3 Dormez le plus possible.
    p.
      Le sommeil, c'est fabuleux et sacréement important.
      Téléchargez l'application sur votre mobile, et schoolsyst réglera votre réveil 
      pour vous, en tenant compte de votre emploi du temps, des cours supprimés ou reportés
      et d'éventuels DS du samedi matin
  .images
    .coming-soon Coming soon!
