section#about
  h2 À propos
  h3 Qui a créé schoolsyst ?
  p schoolsyst, du logo à l'implémentation de l'API, a été totalement réalisé par Ewen Le Bihan.
  p Je suis actuellement un élève en Terminale S à l'établissement d'Alzon Nîmes.
  h3 Pourquoi ?
  p Depuis le collège, je considère l'outil numérique comme formidable. J'ai fait toute ma scolarité depuis la 6#[sup ème] jusqu'à la seconde en "classe iPad", et je trouve les possibilités d'organisation (entre autres) très avantageuses, comparées à de traditionnels cahiers.
  p La numérisation de notre infrastructure scolaire est une bonne chose: L'Environnement Numérique de Travail nous sert de
  ul
    li cahier de texte (dans l'éventualité ou tout les professeurs l'utilisent), 
    li d'emploi du temps, et 
    li nous permet de ne pas avoir à attendre le bulletin de notes pour connaître l'état de notre moyenne.
  p.
    Mais il y à un "hic": les professeurs ne sont pas tous prêts à cette transition numérique, certains utilisent l'ENT, d'autres non.
    (Je précise que je n'ai rien contre les professeurs, ils ont tous leurs raisons - totalement valides - de ne pas utiliser ecoledirecte).
    Alors, on finit par retomber sur nos pattes avec un cahier de texte classique, un emploi du temps classique sur le carnet de correspondance, et on finit par devoir attendre le bulletin pour connaître nos vraies moyennes.
  p.
    C'est pour cela que j'ai fait schoolsyst: les avantages d'un ENT, sans les inconvénients, et avec bien plus de fonctionnalités.
  p L'idée, c'est que, quand le logiciel connaît votre emploi du temps, beaucoup de fonctionnalités pratiques sont envisageables: montrer combien de temps reste-t-il avant la fin du cours ou de la journée, pré-remplir des champs lors de l'ajout de devoirs avec la date du prochain cours de la matière du cours, etc.
  p Cependant, après avoir décrit schoolsyst, beaucoup de gens l'ont résumé à "une alternative à pronote". Cependant, la principale différence avec pronote, c'est que toutes les données sont rentrées par l'élève, qui n'a pas à dépendre de ses professeurs pour avoir ses notes, prises de cours et devoirs au même endroit.
  p Personnellement, ce projet m'a permis d'en apprendre beaucoup sur la gestion de bases de données, la sécurité, les APIs, les applications web, et m'a permis de mettre en œuvres mes capacités en graphisme, motion design, design d'interface et programmation. 
  
