section#contact
  h2 Me contacter
  p Une question? Une demande? Contactez-moi...
  dl
    dt Par mail
    dd: a(href="mailto:ewen.lebihan7@gmail.com") ewen.lebihan7@gmail.com
    dt Via Twitter
    dd Envoyez un message privé ou mentionez #[a(href="//twitter.com/schoolsyst") @schoolsyst]
