section#faq
  h2 Questions fréquentes
  dl
    dt En quoi consiste cette "bêta" ? 
    dd
      p Une version bêta est une version non-terminée, avec des fonctionnalités manquantes et des bugs.
      p schoolsyst est actuellement en bêta publique, ce qui signifie que tout le monde peut tester et se servir de l'application afin de proposer des changements et signaler des bugs.
    dt J'aimerais une intégration avec ProNote/Ecoledirecte
    dd
      p ProNote ou Ecoledirecte sont des logiciels propriétaires qui ne permettent pas la communication avec des services tiers.
      p J'ai réussi à trouver un moyen d'importer les devoirs depuis Ecoledirecte, mais sans plus: il semble impossible de récupérer les notes depuis ecoledirecte.
      p En ce qui concerne Pronote, je ne m'y suis pas encore interessé.
      p En tout cas, c'est prévu!
    dt Quand est-ce que ce sera fini ?
    dd 
      p Je me suis plusieurs fois fixé des deadlines pour les repousser (et celle de la sortie de la #[code beta-1.0.0] le 02/02/2020 est la première que je respecte).
      p Je ne sais pas encore quel avenir parcoursup me réserve, mais en fonction de la formation dans laquelle j'irais l'année prochaine, j'aurais plus ou moins de temps pour avancer schoolsyst.
      p C'est pour ça que je n'ai pas vraiment de date de sortie à donner, mais, en tout cas, les principales fonctionnalités manquantes (comme la partie "Notes", "Emploi du temps" ou "Sac") devraient être disponibles d'ici la rentrée 2020.
      p Vous pouvez toujours vous renseigner sur les prochaines versions à venir en allant sur #[a(href="http://git.schoolsyst.com/frontend/milestones") GitHub].
