section#for_developers
  h2 Pour les développeurs
  p #[code app.schoolsyst.com] utilise un API pour interagir avec la base de données, accessible à #[code api.schoolsyst.com]. Cependant, pour éviter de faire tomber le petit VPS sur lequel tourne les deux serveurs web, l'API n'est pas accessible publiquement, et seule les requêtes provenant de #[code schoolsyst.com] ont le droit d'accéder à l'API.
  p Si j'ai un jour les moyens d'avoir un serveur web plus puissant, je rendrait cette API publique. En attendant, vous pouvez toujours vous rendre sur #[a(href="http://git.schoolsyst.com") GitHub] pour consulter tout le code.
