section#landing
  h1.logo: img(src="/assets/logotype-square.svg")
  ul.btns
    li: a.btn.outline(href="https://app.schoolsyst.com/") Ouvrir
    li: a.btn.primary(href="https://app.schoolsyst.com/register") Démarrer



