section#open_sourced
  h2 schoolsyst est entièrement open source.
  h3 Qu'est-ce que cela signifie ?
  p Les programmes dits "open source" exposent leur code source publiquement, pour que tout le monde puisse améliorer, créer leur propre version et construire sur le projet.
  p Plus qu'une simple philosophie, rendre un programme open source permet à n'importe qui de proposer des modifications simplement. Certes, un programme open source est souvent associé à un programme gratuit, mais je prévoie dans le futur de rendre schoolsyst payant: vous ne paierez donc simplement pour le serveur web, et pourrait utiliser schoolsyst gratuitement en l'installant sur votre propre serveur web.
