section#testimonials
  h2 Qu'en pense les gens ?
  p Mentionnez #[a(href="https://twitter.com/hashtag/schoolsyst") @schoolsyst] dans vos tweets pour apparaître ici !
  <a class="twitter-timeline" href="https://twitter.com/schoolsyst/lists/testimonials?ref_src=twsrc%5Etfw"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
