section.features ul 

  display grid
  grid-gap 150px

  li
    display flex
    position relative

  .illustration img
    width 300px
    object-fit contain
  
  .illustration
    margin auto
    
  .side-title
    text-transform uppercase
    writing-mode tb-rl
    transform rotation(90deg)
    font-size 1.5em
    font-family Overpass Mono, monospace
    margin-right 1.5em
  
  .side-title .number
    opacity 0.25
    margin-bottom 0.5em

  .text
    width 500px
    margin-left auto

  .headline
    font-weight normal
    font-size 50px
    margin-top 0
