footer

  margin-top -5px
  background-color var(--blue)
  color white
  
  ul
    margin 0
    padding 0

  .wrapper
    max-width 1000px
    margin 0 auto
  
  li
    list-style none
    display flex
    justify-content center
  li:not(:last-child)
    margin-bottom 1.5em
  
  a
    // text-transform uppercase
    // font-weight 600
    text-align center
    font-size 24px

  .copyright
    text-align center
    margin-top 3em
    padding 2em 0
