lock($prop, $val, $min-breakpt, $min-val, $max-breakpt, $max-val)
  {$prop} $val
  @media (max-width $min-breakpt)
    {$prop} $min-val
  @media (min-width $max-breakpt)
    {$prop} $max-val
  

:root
  // Colors
  --black: #111111
  --white: #ffffff
  --grey-light: #c0c0c0
  --grey: #d4d3d3
  --grey-dark: #757575
  --grey-offset: #F3F3F3
  --grey-offset-dark: #e6e6e6

  --blue: #1389F6
  --blue-light: #89c4fe
  --blue-dark: #006BD4
  --blue-offset: #E7F8FF
  --blue-offset-dark: #c7edff
  
  --red: #D50000
  --red-light: #ff3519
  --red-dark: #940000
  --red-offset: #FF9E9E

  --green: #27CE5F
  --green-light: #86e6b1
  --green-dark: #09AA5D
  --green-offset: #BFEFCC

  --yellow: #F2C94C
  --yellow-dark: #EEAA44
  --yellow-offset: #FAE192
  // Others
  --border-radius: 5px

html
  scroll-behavior smooth
body
  font-family Work Sans, sans-serif
  margin 0
section:not([fullwidth])
  max-width 1000px
  margin 0 auto
a
  color inherit
  text-decoration none

img.wave
  width 100%
  height 20vh
  &[reversed]
    transform rotate(180deg)

h1, h2, h3
  font-weight normal
  
strong
  font-weight 600
