nav
  // Takes all the width
  left 0
  right 0
  // Fixed
  position fixed
  // Color
  color white
  z-index 100

  .wave
    width 100%
    position fixed
    top 0

  .wrapper
    max-width 1000px
    margin 0 auto
    z-index 110
    position relative
    // Centered
    display flex
    align-items center
    height 80px

  .button
    // Button styling
    padding 0.7em 1em
    background var(--blue-offset)
    color var(--blue)
    border-radius 5px
    // Positionning
    margin-left auto
