#landing
  justify-content center
  text-align center
  .logo
    text-align center
  .logo img
    width 50vw
    max-width 400px
  .btns
    justify-content center
    
#features
  ul
    padding-left 0
    list-style: none
  li
    font-size 1.25em
    line-height 2em
    display flex
    align-items center
  li::before
    content ''
    display inline-block
    width 2em
    height 1em
    background-image url('/assets/icon-arrow-right.svg')
    background-size contain
    background-repeat no-repeat
    margin-right 1.5em
    transition: margin 0.125s ease
  li:hover::before
    margin-right 0.5em
    margin-left 1em
  li a
    text-decoration none
    color inherit
  h2
    text-align center

#pricing
  text-align center
  .price
    display flex
    justify-content center
    align-items flex-end
    .value, .unit
      font-family monospace
      font-weight light
      font-size 10em
    .per, .month
      font-size 3em

#cta
  text-align center
